<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.ediancha.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyCenterActivity" />
        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.TeaOrderActivity" />
        <activity android:name=".activity.LikeActivity" />
        <activity android:name=".activity.ApplyOrderActivity" />
        <activity android:name=".activity.AppointmentActivity" />
        <activity android:name=".activity.TeaEventFilterActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.TeaEventDescActivity" />
        <activity android:name=".activity.TeaSpaceDescActivity" />
        <activity android:name=".activity.TeaDescActivity" />
        <activity android:name=".activity.MoreEvaluateActivity" />
        <activity android:name=".activity.MoreTeaPackageActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.CheckLoginActivity" />
        <activity android:name=".activity.TeaEventFilterResultActivity">

        </activity>
    </application>

</manifest>